BasedOnStyle: Google

AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Attach 
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 0
DerivePointerAlignment: false
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: true
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: -4
AlignEscapedNewlines: Left
InsertNewlineAtEOF: true
