[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/DirectXMath"]
	path = external/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
